.cookiebox1, .cookiebox2{
    width: 100%;
    height: 500px;
    background-image:url(../Media/Pictures/backgrounds/achtergrondmuur.jpg);
    filter: brightness(0.8);
    border:solid #9ed167 5px;
    border-radius: 20px;
}
.row{
    margin-top: 150px;
}
.wtzncks{
    color: white;
    font-size: 40px;
}
.cookiebox1{
    height: 75px;
    margin-top: 15px;
}
.wtsnck{
    padding: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}